{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Востребованность{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold mb-4">Востребованность профессии: Аналитик</h1>

  <!-- Динамика зарплат -->
  <h2 class="text-lg font-semibold mt-6 mb-2">Динамика уровня зарплат по годам</h2>
  <img src="/media/graphs/table_salary_dynamics_analyst.png" alt="Таблица Динамика зарплат аналитиков по годам">
  <img src="/media/graphs/salary_analyst_dynamics.png" alt="Динамика зарплат аналитиков по годам">

  <!-- Динамика количества вакансий -->
  <h2 class="text-lg font-semibold mb-2">Динамика количества вакансий по годам</h2>
  <img src="/media/graphs/table_vacancy_dynamics_analyst.png" alt="Таблица Динамика вакансий аналитиков по годам">
  <img src="/media/graphs/stat_vacancy_analyst_dynamics.png" alt="Динамика вакансий аналитиков по годам">
{% endblock %}

