{% extends 'base.html' %}

{% block content %}
<h2>Навыки</h2>

<h3>Топ-10 самых востребованных навыков</h3>
<canvas id="skillsChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const skillsData = JSON.parse('{{ top_skills|escapejs }}');

    new Chart(document.getElementById("skillsChart"), {
        type: 'bar',
        data: {
            labels: Object.keys(skillsData),
            datasets: [{
                label: 'Количество упоминаний',
                data: Object.values(skillsData),
                backgroundColor: 'rgba(153, 102, 255, 0.7)',
            }]
        }
    });
</script>
{% endblock %}
